In [1]:
import requests
import json
import pandas as pd
from sqlalchemy import create_engine

In [2]:
from pprint import pprint

In [3]:
csv_file = "Resources/Combined_CA_Rainfall.csv"
rainfall_data_df = pd.read_csv(csv_file)
rainfall_data_df

         reading  rainfall      fire_name     county
0       8/1/1998       0.0  BigBarComplex    Trinity
1       8/2/1998       0.0  BigBarComplex    Trinity
2       8/3/1998       0.0  BigBarComplex    Trinity
3       8/4/1998       0.0  BigBarComplex    Trinity
4       8/5/1998       0.0  BigBarComplex    Trinity
...          ...       ...            ...        ...
6388  11/26/2003       0.0          Cedar  San Diego
6389  11/27/2003       0.0          Cedar  San Diego
6390  11/28/2003       0.0          Cedar  San Diego
6391  11/29/2003       0.0          Cedar  San Diego
6392  11/30/2003       0.0          Cedar  San Diego

[6393 rows x 4 columns]

In [4]:
columns = [
    "reading",
    "rainfall",
    "county",
    "fire_name"
]

In [5]:
rainfall_data_df['reading']=pd.to_datetime(rainfall_data_df['reading'])
rainfall_data_df

        reading  rainfall      fire_name     county
0    1998-08-01       0.0  BigBarComplex    Trinity
1    1998-08-02       0.0  BigBarComplex    Trinity
2    1998-08-03       0.0  BigBarComplex    Trinity
3    1998-08-04       0.0  BigBarComplex    Trinity
4    1998-08-05       0.0  BigBarComplex    Trinity
...         ...       ...            ...        ...
6388 2003-11-26       0.0          Cedar  San Diego
6389 2003-11-27       0.0          Cedar  San Diego
6390 2003-11-28       0.0          Cedar  San Diego
6391 2003-11-29       0.0          Cedar  San Diego
6392 2003-11-30       0.0          Cedar  San Diego

[6393 rows x 4 columns]

In [6]:
edited_rainfall_data_df = rainfall_data_df.loc[rainfall_data_df["rainfall"] > 0.05, columns]
edited_rainfall_data_df

        reading  rainfall     county      fire_name
40   1998-09-10      0.36    Trinity  BigBarComplex
58   1998-09-28      0.33    Trinity  BigBarComplex
73   1998-10-13      0.40    Trinity  BigBarComplex
84   1998-10-24      0.85    Trinity  BigBarComplex
85   1998-10-25      0.38    Trinity  BigBarComplex
...         ...       ...        ...            ...
6186 2003-05-08      0.30  San Diego          Cedar
6232 2003-06-23      0.20  San Diego          Cedar
6363 2003-11-01      0.16  San Diego          Cedar
6374 2003-11-12      0.39  San Diego          Cedar
6378 2003-11-16      0.18  San Diego          Cedar

[926 rows x 4 columns]

## Mendocino Complex Fire:

In [7]:
## With cut out 0.0 rainfall days:

In [8]:
Mendocino_Complex_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Mendocino")]

In [9]:
Year_Mendocino_Complex_pd = Mendocino_Complex_pd[(Mendocino_Complex_pd['reading'] > '2017-07-27') & (Mendocino_Complex_pd['reading'] < '2018-07-28')]

In [10]:
Three_Month_Mendocino_Complex_pd = Mendocino_Complex_pd[(Mendocino_Complex_pd['reading'] > '2018-04-27') & (Mendocino_Complex_pd['reading'] < '2018-07-28')]

In [11]:
## Without cut 0.0 rainfall days:

In [12]:
unedited_Mendocino_Complex_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Mendocino")]

In [13]:
unedited_Year_Mendocino_Complex_pd = unedited_Mendocino_Complex_pd[(unedited_Mendocino_Complex_pd['reading'] > '2017-07-27') & (unedited_Mendocino_Complex_pd['reading'] < '2018-07-28')]

In [14]:
median = unedited_Year_Mendocino_Complex_pd.median()
median = median['rainfall']

mean = unedited_Year_Mendocino_Complex_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Mendocino_Complex_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Mendocino_Complex_pd.min()
minimum = minimum['rainfall']

In [15]:
Mendocino_Summary = pd.DataFrame({"County":"Mendocino",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Mendocino_Summary

      County  Maximum   Max Date  Minimum      Mean  Median
0  Mendocino     0.58 2018-07-27      0.0  0.117808    0.08

## Thomas Fire:

In [16]:
Thomas_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Thomas")]

In [17]:
Year_Thomas_pd = Thomas_pd[(Thomas_pd['reading'] > '2016-12-04') & (Thomas_pd['reading'] < '2017-12-05')]

In [18]:
Three_Month_Thomas_pd = Thomas_pd[(Thomas_pd['reading'] > '2017-09-04') & (Thomas_pd['reading'] < '2017-12-05')]

In [19]:
unedited_Thomas_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Thomas")]

In [20]:
unedited_Year_Thomas_pd = unedited_Thomas_pd[(unedited_Thomas_pd['reading'] > '2016-12-04') & (unedited_Thomas_pd['reading'] < '2017-12-05')]

In [21]:
median = unedited_Year_Thomas_pd.median()
median = median['rainfall']

mean = unedited_Year_Thomas_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Thomas_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Thomas_pd.min()
minimum = minimum['rainfall']

In [22]:
Thomas_Summary = pd.DataFrame({"County":"Ventura",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Thomas_Summary

    County  Maximum   Max Date  Minimum      Mean  Median
0  Ventura     1.13 2017-12-04      0.0  0.038712     0.0

## Cedar Fire:

In [23]:
Cedar_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Cedar")]

In [24]:
Year_Cedar_pd = Cedar_pd[(Cedar_pd['reading'] > '2002-10-25') & (Cedar_pd['reading'] < '2003-10-26')]

In [25]:
Three_Month_Cedar_pd = Cedar_pd[(Cedar_pd['reading'] > '2002-07-25') & (Cedar_pd['reading'] < '2003-10-26')]

In [26]:
unedited_Cedar_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Cedar")]

In [27]:
unedited_Year_Cedar_pd = unedited_Cedar_pd[(unedited_Cedar_pd['reading'] > '2002-10-25') & (unedited_Cedar_pd['reading'] < '2003-10-26')]

In [28]:
median = unedited_Year_Cedar_pd.median()
median = median['rainfall']

mean = unedited_Year_Cedar_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Cedar_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Cedar_pd.min()
minimum = minimum['rainfall']

In [29]:
Cedar_Summary = pd.DataFrame({"County":"San Diego",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Cedar_Summary

      County  Maximum   Max Date  Minimum      Mean  Median
0  San Diego     1.82 2003-10-25      0.0  0.038164     0.0

## Rush Fire:

In [30]:
Rush_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Rush")]

In [31]:
Year_Rush_pd = Rush_pd[(Rush_pd['reading'] > '2011-08-12') & (Rush_pd['reading'] < '2012-08-13')]

In [32]:
Three_Month_Rush_pd = Rush_pd[(Rush_pd['reading'] > '2012-05-12') & (Rush_pd['reading'] < '2012-08-13')]

In [33]:
unedited_Rush_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Rush")]

In [34]:
unedited_Year_Rush_pd = unedited_Rush_pd[(unedited_Rush_pd['reading'] > '2011-08-12') & (unedited_Rush_pd['reading'] < '2012-08-13')]

In [35]:
median = unedited_Year_Rush_pd.median()
median = median['rainfall']

mean = unedited_Year_Rush_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Rush_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Rush_pd.min()
minimum = minimum['rainfall']

In [36]:
Rush_Summary = pd.DataFrame({"County":"Lassen",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Rush_Summary

   County  Maximum   Max Date  Minimum      Mean  Median
0  Lassen     1.21 2012-08-12      0.0  0.018525     0.0

## Rush Fire:

In [37]:
Rim_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Rim")]

In [38]:
Year_Rim_pd = Rim_pd[(Rim_pd['reading'] > '2012-08-17') & (Rim_pd['reading'] < '2013-08-18')]

In [39]:
Three_Month_Rim_pd = Rim_pd[(Rim_pd['reading'] > '2013-05-17') & (Rim_pd['reading'] < '2013-08-18')]

In [40]:
unedited_Rim_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Rim")]

In [41]:
unedited_Year_Rim_pd = unedited_Rim_pd[(unedited_Rim_pd['reading'] > '2012-08-17') & (unedited_Rim_pd['reading'] < '2013-08-18')]

In [42]:
median = unedited_Year_Rim_pd.median()
median = median['rainfall']

mean = unedited_Year_Rim_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Rim_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Rim_pd.min()
minimum = minimum['rainfall']

In [43]:
Rim_Summary = pd.DataFrame({"County":"Tuolumne",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Rim_Summary

     County  Maximum   Max Date  Minimum      Mean  Median
0  Tuolumne      0.4 2013-08-17      0.0  0.102932    0.08

## Zaca Fire:

In [44]:
#Zaca_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Zaca")]

## Carr Fire:

In [45]:
Carr_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Carr")]

In [46]:
Year_Carr_pd = Carr_pd[(Carr_pd['reading'] > '2017-07-23') & (Carr_pd['reading'] < '2018-07-24')]

In [47]:
Three_Month_Carr_pd = Carr_pd[(Carr_pd['reading'] > '2018-04-23') & (Carr_pd['reading'] < '2018-07-24')]

In [48]:
unedited_Carr_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Carr")]

In [49]:
unedited_Year_Carr_pd = unedited_Carr_pd[(unedited_Carr_pd['reading'] > '2017-07-23') & (unedited_Carr_pd['reading'] < '2018-07-24')]

In [50]:
median = unedited_Year_Carr_pd.median()
median = median['rainfall']

mean = unedited_Year_Carr_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Carr_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Carr_pd.min()
minimum = minimum['rainfall']

In [51]:
Carr_Summary = pd.DataFrame({"County":"Shasta",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Carr_Summary

   County  Maximum   Max Date  Minimum      Mean  Median
0  Shasta     1.09 2018-07-23      0.0  0.047644     0.0

## Matilija Fire:

In [52]:
##Matilija_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Matilija")]

## Witch Fire:

In [53]:
Witch_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Witch")]

In [54]:
Year_Witch_pd = Witch_pd[(Witch_pd['reading'] > '2006-10-21') & (Witch_pd['reading'] < '2007-10-22')]

In [55]:
Three_Month_Witch_pd = Witch_pd[(Witch_pd['reading'] > '2007-07-21') & (Witch_pd['reading'] < '2007-10-22')]

In [56]:
unedited_Witch_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Witch")]

In [57]:
unedited_Year_Witch_pd = unedited_Witch_pd[(unedited_Witch_pd['reading'] > '2006-10-21') & (unedited_Witch_pd['reading'] < '2007-10-22')]

In [58]:
median = unedited_Year_Witch_pd.median()
median = median['rainfall']

mean = unedited_Year_Witch_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Witch_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Witch_pd.min()
minimum = minimum['rainfall']

In [59]:
Witch_Summary = pd.DataFrame({"County":"San Diego",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Witch_Summary

      County  Maximum   Max Date  Minimum      Mean  Median
0  San Diego      0.7 2007-10-21      0.0  0.014932     0.0

## Klamath Fire:

In [60]:
Klamath_Theater_Complex_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Klamath")]

In [61]:
Year_Klamath_Theater_Complex_pd = Klamath_Theater_Complex_pd[(Klamath_Theater_Complex_pd['reading'] > '2007-06-21') & (Klamath_Theater_Complex_pd['reading'] < '2008-06-22')]

In [62]:
Three_Month_Klamath_Theater_Complex_pd = Klamath_Theater_Complex_pd[(Klamath_Theater_Complex_pd['reading'] > '2008-03-21') & (Klamath_Theater_Complex_pd['reading'] < '2008-06-22')]

In [63]:
unedited_Klamath_Theater_Complex_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Klamath")]

In [64]:
unedited_Year_Klamath_Theater_Complex_pd = unedited_Klamath_Theater_Complex_pd[(unedited_Klamath_Theater_Complex_pd['reading'] > '2007-06-21') & (unedited_Klamath_Theater_Complex_pd['reading'] < '2008-06-22')]

In [65]:
median = unedited_Year_Klamath_Theater_Complex_pd.median()
median = median['rainfall']

mean = unedited_Year_Klamath_Theater_Complex_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Klamath_Theater_Complex_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Klamath_Theater_Complex_pd.min()
minimum = minimum['rainfall']

In [66]:
Klamath_Summary = pd.DataFrame({"County":"Siskiyou",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Klamath_Summary

     County  Maximum   Max Date  Minimum      Mean  Median
0  Siskiyou     2.08 2008-06-21      0.0  0.064153     0.0

## Marble Fire:

In [67]:
##Marble_cone_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Marble")]

## Laguna Fire:

In [68]:
##Laguna_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Laguna")]

## Basin Complex Fire:

In [69]:
Basin_Complex_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Basin")]

In [70]:
Year_Basin_Complex_pd = Basin_Complex_pd[(Basin_Complex_pd['reading'] > '2007-06-21') & (Basin_Complex_pd['reading'] < '2008-06-22')]

In [71]:
Three_Month_Basin_Complex_pd = Basin_Complex_pd[(Basin_Complex_pd['reading'] > '2008-03-21') & (Basin_Complex_pd['reading'] < '2008-06-22')]

In [72]:
unedited_Basin_Complex_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Basin")]

In [73]:
unedited_Year_Basin_Complex_pd = unedited_Basin_Complex_pd[(unedited_Basin_Complex_pd['reading'] > '2007-06-21') & (unedited_Basin_Complex_pd['reading'] < '2008-06-22')]

In [74]:
median = unedited_Year_Basin_Complex_pd.median()
median = median['rainfall']

mean = unedited_Year_Basin_Complex_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Basin_Complex_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Basin_Complex_pd.min()
minimum = minimum['rainfall']

In [75]:
Basin_Summary = pd.DataFrame({"County":"Monterey",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Basin_Summary

     County  Maximum   Max Date  Minimum      Mean  Median
0  Monterey     2.01 2008-06-21      0.0  0.025546     0.0

## Day Fire:

In [76]:
Day_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Day")]

In [77]:
Year_Day_pd = Day_pd[(Day_pd['reading'] > '2005-09-04') & (Day_pd['reading'] < '2006-09-05')]

In [78]:
Three_Month_Day_pd = Day_pd[(Day_pd['reading'] > '2006-06-04') & (Day_pd['reading'] < '2006-09-05')]

In [79]:
unedited_Day_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Day")]

In [80]:
unedited_Year_Day_pd = unedited_Day_pd[(unedited_Day_pd['reading'] > '2005-09-04') & (unedited_Day_pd['reading'] < '2006-09-05')]

In [81]:
median = unedited_Year_Day_pd.median()
median = median['rainfall']

mean = unedited_Year_Day_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Day_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Day_pd.min()
minimum = minimum['rainfall']

In [82]:
Day_Summary = pd.DataFrame({"County":"Ventura",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Day_Summary

    County  Maximum   Max Date  Minimum      Mean  Median
0  Ventura      3.6 2006-09-04      0.0  0.070438     0.0

## Station Fire:

In [83]:
Station_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Station")]

In [84]:
Year_Station_pd = Station_pd[(Station_pd['reading'] > '2008-08-26') & (Station_pd['reading'] < '2009-08-27')]

In [85]:
Three_Month_Station_pd = Station_pd[(Station_pd['reading'] > '2009-05-26') & (Station_pd['reading'] < '2009-08-27')]

In [86]:
unedited_Station_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Station")]

In [87]:
unedited_Year_Station_pd = unedited_Station_pd[(unedited_Station_pd['reading'] > '2008-08-26') & (unedited_Station_pd['reading'] < '2009-08-27')]

In [88]:
median = unedited_Year_Station_pd.median()
median = median['rainfall']

mean = unedited_Year_Station_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Station_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Station_pd.min()
minimum = minimum['rainfall']

In [89]:
Station_Summary = pd.DataFrame({"County":"Los Angeles",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Station_Summary

        County  Maximum   Max Date  Minimum      Mean  Median
0  Los Angeles     1.06 2009-08-26      0.0  0.017452     0.0

## Camp Fire:

In [90]:
Camp_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Camp")]

In [91]:
Year_Camp_pd = Camp_pd[(Camp_pd['reading'] > '2017-11-08') & (Camp_pd['reading'] < '2018-11-09')]

In [92]:
Three_Month_Camp_pd = Camp_pd[(Camp_pd['reading'] > '2018-08-08') & (Camp_pd['reading'] < '2018-11-09')]

In [93]:
unedited_Camp_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Camp")]

In [94]:
unedited_Year_Camp_pd = unedited_Camp_pd[(unedited_Camp_pd['reading'] > '2017-11-08') & (unedited_Camp_pd['reading'] < '2018-11-09')]

In [95]:
median = unedited_Year_Camp_pd.median()
median = median['rainfall']

mean = unedited_Year_Camp_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Camp_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Camp_pd.min()
minimum = minimum['rainfall']

In [96]:
Camp_Summary = pd.DataFrame({"County":"Butte",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Camp_Summary

  County  Maximum   Max Date  Minimum      Mean  Median
0  Butte     2.25 2018-11-08      0.0  0.038247     0.0

## Rough Fire:

In [97]:
Rough_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "Rough")]

In [98]:
Year_Rough_pd = Rough_pd[(Rough_pd['reading'] > '2014-07-31') & (Rough_pd['reading'] < '2015-08-01')]

In [99]:
Three_Month_Rough_pd = Rough_pd[(Rough_pd['reading'] > '2015-05-31') & (Rough_pd['reading'] < '2015-08-01')]

In [100]:
unedited_Rough_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Rough")]

In [101]:
unedited_Year_Rough_pd = unedited_Rough_pd[(unedited_Rough_pd['reading'] > '2014-07-31') & (unedited_Rough_pd['reading'] < '2015-08-01')]

In [102]:
median = unedited_Year_Rough_pd.median()
median = median['rainfall']

mean = unedited_Year_Rough_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Rough_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Rough_pd.min()
minimum = minimum['rainfall']

In [103]:
Rough_Summary = pd.DataFrame({"County":"Fresno",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
Rough_Summary

   County  Maximum   Max Date  Minimum      Mean  Median
0  Fresno     1.14 2015-07-30      0.0  0.015522     0.0

## McNally Fire:

In [104]:
McNally_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "McNally")]

In [105]:
Year_McNally_pd = McNally_pd[(McNally_pd['reading'] > '2001-07-21') & (McNally_pd['reading'] < '2002-07-22')]

In [106]:
Three_Month_McNally_pd = McNally_pd[(McNally_pd['reading'] > '2002-04-21') & (McNally_pd['reading'] < '2002-07-22')]

In [107]:
unedited_McNallya_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "McNally")]

In [108]:
unedited_Year_McNally_pd = unedited_McNallya_pd[(unedited_McNallya_pd['reading'] > '2001-07-21') & (unedited_McNallya_pd['reading'] < '2002-07-22')]

In [109]:
median = unedited_Year_McNally_pd.median()
median = median['rainfall']

mean = unedited_Year_McNally_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_McNally_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_McNally_pd.min()
minimum = minimum['rainfall']

In [110]:
McNally_Summary = pd.DataFrame({"County":"Tulare",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
McNally_Summary

   County  Maximum   Max Date  Minimum      Mean  Median
0  Tulare     0.92 2002-07-21      0.0  0.023945     0.0

## Stanislaus Fire:

In [111]:
##Stanislaus_Complex_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "Stanislaus")]

## BigBarComplex Fire:

In [112]:
Big_Bar_Complex_pd = edited_rainfall_data_df[(edited_rainfall_data_df['fire_name'] == "BigBarComplex")]

In [113]:
Year_Big_Bar_Complex_pd = Big_Bar_Complex_pd[(Big_Bar_Complex_pd['reading'] > '1998-08-24') & (Big_Bar_Complex_pd['reading'] < '1999-08-25')]

In [114]:
Three_Month_Big_Bar_Complex_pd = Big_Bar_Complex_pd[(Big_Bar_Complex_pd['reading'] > '1999-05-24') & (Big_Bar_Complex_pd['reading'] < '1999-08-25')]

In [115]:
unedited_Big_Bar_Complex_pd = rainfall_data_df[(rainfall_data_df['fire_name'] == "BigBarComplex")]

In [116]:
unedited_Year_Big_Bar_Complex_pd = unedited_Big_Bar_Complex_pd[(unedited_Big_Bar_Complex_pd['reading'] > '1998-08-24') & (unedited_Big_Bar_Complex_pd['reading'] < '1999-08-25')]

In [117]:
median = unedited_Year_Big_Bar_Complex_pd.median()
median = median['rainfall']

mean = unedited_Year_Big_Bar_Complex_pd.mean()
mean = mean['rainfall']

maximum = unedited_Year_Big_Bar_Complex_pd.max()
max_date = maximum['reading']
maximum = maximum['rainfall']

minimum = unedited_Year_Big_Bar_Complex_pd.min()
minimum = minimum['rainfall']

In [118]:
BigBarComplex_Summary = pd.DataFrame({"County":"Trinity",
                              "Maximum": maximum,
                              "Max Date": max_date,
                              "Minimum": [minimum],
                              "Mean": mean,
                              "Median": median})
BigBarComplex_Summary

    County  Maximum   Max Date  Minimum      Mean  Median
0  Trinity     2.27 1999-08-24      0.0  0.109534     0.0

## CSV:

## Three Month CSV:

In [119]:
edited_three_month_frames = [Three_Month_Mendocino_Complex_pd, Three_Month_Thomas_pd, Three_Month_Cedar_pd, Three_Month_Rush_pd, Three_Month_Rim_pd, Three_Month_Carr_pd,
          Three_Month_Witch_pd, Three_Month_Klamath_Theater_Complex_pd, Three_Month_Basin_Complex_pd, Three_Month_Day_pd, Three_Month_Station_pd, Three_Month_Camp_pd, Three_Month_Rough_pd, 
          Three_Month_McNally_pd, Three_Month_Big_Bar_Complex_pd]

In [120]:
three_month_rainfall = pd.concat(edited_three_month_frames, sort=False)
three_month_rainfall

        reading  rainfall     county      fire_name
5871 2018-04-28      0.07  Mendocino      Mendocino
5872 2018-04-29      0.12  Mendocino      Mendocino
5874 2018-05-01      0.12  Mendocino      Mendocino
5877 2018-05-04      0.12  Mendocino      Mendocino
5878 2018-05-05      0.08  Mendocino      Mendocino
...         ...       ...        ...            ...
779  2002-05-20      0.07     Tulare        McNally
780  2002-05-21      0.11     Tulare        McNally
306  1999-06-03      0.11    Trinity  BigBarComplex
371  1999-08-07      0.20    Trinity  BigBarComplex
375  1999-08-11      0.07    Trinity  BigBarComplex

[80 rows x 4 columns]

In [ ]:
three_month_rainfall.to_csv("Resources/Project_CSV/three_month_rainfall.csv", index=False)

## Year CSV:

In [122]:
edited_year_frames = [Year_Mendocino_Complex_pd, Year_Thomas_pd, Year_Cedar_pd, Year_Rush_pd, Year_Rim_pd, Year_Carr_pd,
          Year_Witch_pd, Year_Klamath_Theater_Complex_pd, Year_Basin_Complex_pd, Year_Day_pd, Year_Station_pd, Year_Camp_pd, Year_Rough_pd, 
          Year_McNally_pd, Year_Big_Bar_Complex_pd]

In [123]:
year_rainfall = pd.concat(edited_year_frames, sort=False)
year_rainfall

        reading  rainfall     county      fire_name
5646 2017-09-15      0.06  Mendocino      Mendocino
5648 2017-09-17      0.07  Mendocino      Mendocino
5669 2017-10-08      0.07  Mendocino      Mendocino
5671 2017-10-10      0.08  Mendocino      Mendocino
5673 2017-10-12      0.07  Mendocino      Mendocino
...         ...       ...        ...            ...
276  1999-05-04      0.20    Trinity  BigBarComplex
287  1999-05-15      0.10    Trinity  BigBarComplex
306  1999-06-03      0.11    Trinity  BigBarComplex
371  1999-08-07      0.20    Trinity  BigBarComplex
375  1999-08-11      0.07    Trinity  BigBarComplex

[890 rows x 4 columns]

In [ ]:
year_rainfall.to_csv("Resources/Project_CSV/year_rainfall.csv", index=False)

## Summary CSV:

In [ ]:
summary_frames = [Mendocino_Summary, Thomas_Summary, Cedar_Summary, Rush_Summary, Rim_Summary, Carr_Summary,
          Witch_Summary, Klamath_Summary, Basin_Summary, Day_Summary, Station_Summary, Camp_Summary, Rough_Summary, 
          McNally_Summary, BigBarComplex_Summary]

In [ ]:
summary_rainfall = pd.concat(summary_frames, sort=False)
summary_rainfall

In [ ]:
summary_rainfall.to_csv("Resources/Project_CSV/summary_rainfall.csv", index=False)

In [ ]:
#a = year_rainfall.groupby(['reading'])
#a.head()

In [ ]:
#year_rainfall.to_json("year/year_rainfall.json")