In [1]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup

In [2]:
from sqlalchemy import create_engine, func

In [3]:
import pandas as pd

In [4]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [5]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_California_wildfires'
browser.visit(url)

In [7]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
print(soup)

In [8]:
table = pd.read_html(url)
large_fire_df= table[0]
large_fire_df

,Name,County,Acres,Hectares,Start date,Structures,Deaths,Notes
0,Mendocino Complex,"Mendocino, Lake,Colusa, Glenn",459123,185800,July 2018,280,1,"The Ranch Fire by itself, at 410,203 acres as ..."
1,Thomas,"Ventura, Santa Barbara",281893,114078,December 2017,1063,23,"Fatalities (2 direct, 21 indirect) attributed ..."
2,Cedar,San Diego,273246,110579,October 2003,2820,15,NaN
3,Rush,Lassen,271911,110038,August 2012,1,0,"This fire burned an additional 43,666 acres (1..."
4,Rim,Tuolumne,257314,104131,August 2013,112,0,NaN
5,Zaca,Santa Barbara,240207,97208,July 2007,1,0,NaN
6,Carr,"Shasta, Trinity",229651,92936,July 2018,1604,8,NaN
7,Matilija,Ventura,220000,89030,September 1932,0,0,NaN
8,Witch,San Diego,197990,80120,October 2007,1650,2,NaN
9,Klamath Theater Complex,Siskiyou,192038,77715,June 2008,0,2,NaN
10,Marble Cone,Monterey,177866,71980,July 1977,0,0,NaN
11,Laguna,San Diego,175425,70992,September 1970,382,8,NaN
12,Basin Complex,Monterey,162818,65890,June 2008,58,0,NaN
13,Day,Ventura,162702,65843,September 2006,11,0,NaN
14,Station,Los Angeles,160557,64975,August 2009,209,2,NaN
15,Camp,Butte,153336,62053,November 2018,18804,86,NaN
16,Rough,Fresno,151623,61360,July 2015,4,0,NaN
17,McNally,Tulare,150696,60985,July 2002,17,0,NaN
18,Stanislaus Complex,Tuolumne,145980,59080,August 1987,28,1,NaN
19,Big Bar Complex,Trinity,140948,57040,August 1999,0,0,NaN

In [9]:
del large_fire_df["Notes"]
large_fire_df

,Name,County,Acres,Hectares,Start date,Structures,Deaths
0,Mendocino Complex,"Mendocino, Lake,Colusa, Glenn",459123,185800,July 2018,280,1
1,Thomas,"Ventura, Santa Barbara",281893,114078,December 2017,1063,23
2,Cedar,San Diego,273246,110579,October 2003,2820,15
3,Rush,Lassen,271911,110038,August 2012,1,0
4,Rim,Tuolumne,257314,104131,August 2013,112,0
5,Zaca,Santa Barbara,240207,97208,July 2007,1,0
6,Carr,"Shasta, Trinity",229651,92936,July 2018,1604,8
7,Matilija,Ventura,220000,89030,September 1932,0,0
8,Witch,San Diego,197990,80120,October 2007,1650,2
9,Klamath Theater Complex,Siskiyou,192038,77715,June 2008,0,2
10,Marble Cone,Monterey,177866,71980,July 1977,0,0
11,Laguna,San Diego,175425,70992,September 1970,382,8
12,Basin Complex,Monterey,162818,65890,June 2008,58,0
13,Day,Ventura,162702,65843,September 2006,11,0
14,Station,Los Angeles,160557,64975,August 2009,209,2
15,Camp,Butte,153336,62053,November 2018,18804,86
16,Rough,Fresno,151623,61360,July 2015,4,0
17,McNally,Tulare,150696,60985,July 2002,17,0
18,Stanislaus Complex,Tuolumne,145980,59080,August 1987,28,1
19,Big Bar Complex,Trinity,140948,57040,August 1999,0,0

In [24]:
large_fire_df = large_fire_df.rename(columns={"Name": "firename", "County": "county","Acres": "acres", "Hectares":"hectares",
                  "Start date": "startdate","Structures": "structures", "Deaths": "deaths" })

In [27]:
large_fire_df

,firename,county,acres,hectares,startdate,structures,deaths
0,Mendocino Complex,"Mendocino, Lake,Colusa, Glenn",459123,185800,July 2018,280,1
1,Thomas,"Ventura, Santa Barbara",281893,114078,December 2017,1063,23
2,Cedar,San Diego,273246,110579,October 2003,2820,15
3,Rush,Lassen,271911,110038,August 2012,1,0
4,Rim,Tuolumne,257314,104131,August 2013,112,0
5,Zaca,Santa Barbara,240207,97208,July 2007,1,0
6,Carr,"Shasta, Trinity",229651,92936,July 2018,1604,8
7,Matilija,Ventura,220000,89030,September 1932,0,0
8,Witch,San Diego,197990,80120,October 2007,1650,2
9,Klamath Theater Complex,Siskiyou,192038,77715,June 2008,0,2
10,Marble Cone,Monterey,177866,71980,July 1977,0,0
11,Laguna,San Diego,175425,70992,September 1970,382,8
12,Basin Complex,Monterey,162818,65890,June 2008,58,0
13,Day,Ventura,162702,65843,September 2006,11,0
14,Station,Los Angeles,160557,64975,August 2009,209,2
15,Camp,Butte,153336,62053,November 2018,18804,86
16,Rough,Fresno,151623,61360,July 2015,4,0
17,McNally,Tulare,150696,60985,July 2002,17,0
18,Stanislaus Complex,Tuolumne,145980,59080,August 1987,28,1
19,Big Bar Complex,Trinity,140948,57040,August 1999,0,0

In [28]:
fire_table_html = large_fire_df.to_html()
fire_table_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>firename</th>\n      <th>county</th>\n      <th>acres</th>\n      <th>hectares</th>\n      <th>startdate</th>\n      <th>structures</th>\n      <th>deaths</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mendocino Complex</td>\n      <td>Mendocino, Lake,Colusa, Glenn</td>\n      <td>459123</td>\n      <td>185800</td>\n      <td>July 2018</td>\n      <td>280</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Thomas</td>\n      <td>Ventura, Santa Barbara</td>\n      <td>281893</td>\n      <td>114078</td>\n      <td>December 2017</td>\n      <td>1063</td>\n      <td>23</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Cedar</td>\n      <td>San Diego</td>\n      <td>273246</td>\n      <td>110579</td>\n      <td>October 2003</td>\n      <td>2820</td>\n      <td>15</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Rush</td>\n      <td>Lassen</td>\n      <td>271911</td>\n      <td>110038</td>\n      <td>August 2012</td>\n      <td>1</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Rim</td>\n      <td>Tuolumne</td>\n      <td>257314</td>\n      <td>104131</td>\n      <td>August 2013</td>\n      <td>112</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Zaca</td>\n      <td>Santa Barbara</td>\n      <td>240207</td>\n      <td>97208</td>\n      <td>July 2007</td>\n      <td>1</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Carr</td>\n      <td>Shasta, Trinity</td>\n      <td>229651</td>\n      <td>92936</td>\n      <td>July 2018</td>\n      <td>1604</td>\n      <td>8</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Matilija</td>\n      <td>Ventura</td>\n      <td>220000</td>\n      <td>89030</td>\n      <td>September 1932</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Witch</td>\n      <td>San Diego</td>\n      <td>197990</td>\n      <td>80120</td>\n      <td>October 2007</td>\n      <td>1650</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Klamath Theater Complex</td>\n      <td>Siskiyou</td>\n      <td>192038</td>\n      <td>77715</td>\n      <td>June 2008</td>\n      <td>0</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Marble Cone</td>\n      <td>Monterey</td>\n      <td>177866</td>\n      <td>71980</td>\n      <td>July 1977</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Laguna</td>\n      <td>San Diego</td>\n      <td>175425</td>\n      <td>70992</td>\n      <td>September 1970</td>\n      <td>382</td>\n      <td>8</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>Basin Complex</td>\n      <td>Monterey</td>\n      <td>162818</td>\n      <td>65890</td>\n      <td>June 2008</td>\n      <td>58</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>Day</td>\n      <td>Ventura</td>\n      <td>162702</td>\n      <td>65843</td>\n      <td>September 2006</td>\n      <td>11</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>Station</td>\n      <td>Los Angeles</td>\n      <td>160557</td>\n      <td>64975</td>\n      <td>August 2009</td>\n      <td>209</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Camp</td>\n      <td>Butte</td>\n      <td>153336</td>\n      <td>62053</td>\n      <td>November 2018</td>\n      <td>18804</td>\n      <td>86</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>Rough</td>\n      <td>Fresno</td>\n      <td>151623</td>\n      <td>61360</td>\n      <td>July 2015</td>\n      <td>4</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>McNally</td>\n      <td>Tulare</td>\n      <td>150696</td>\n      <td>60985</td>\n      <td>July 2002</td>\n      <td>17</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Stanislaus Complex</td>\n      <td>Tuolumne</td>\n      <td>145980</td>\n      <td>59080</td>\n      <td>August 1987</td>\n      <td>28</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>Big Bar Complex</td>\n      <td>Trinity</td>\n      <td>140948</td>\n      <td>57040</td>\n      <td>August 1999</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n  </tbody>\n</table>'

In [34]:
fire_table_html = fire_table_html.replace("\n","")
fire_table_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>firename</th>      <th>county</th>      <th>acres</th>      <th>hectares</th>      <th>startdate</th>      <th>structures</th>      <th>deaths</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Mendocino Complex</td>      <td>Mendocino, Lake,Colusa, Glenn</td>      <td>459123</td>      <td>185800</td>      <td>July 2018</td>      <td>280</td>      <td>1</td>    </tr>    <tr>      <th>1</th>      <td>Thomas</td>      <td>Ventura, Santa Barbara</td>      <td>281893</td>      <td>114078</td>      <td>December 2017</td>      <td>1063</td>      <td>23</td>    </tr>    <tr>      <th>2</th>      <td>Cedar</td>      <td>San Diego</td>      <td>273246</td>      <td>110579</td>      <td>October 2003</td>      <td>2820</td>      <td>15</td>    </tr>    <tr>      <th>3</th>      <td>Rush</td>      <td>Lassen</td>      <td>271911</td>      <td>110038</td>      <td>August 2012</td>      <td>1</td>      <td>0</td>    </tr>    <tr>      <th>4</th>      <td>Rim</td>      <td>Tuolumne</td>      <td>257314</td>      <td>104131</td>      <td>August 2013</td>      <td>112</td>      <td>0</td>    </tr>    <tr>      <th>5</th>      <td>Zaca</td>      <td>Santa Barbara</td>      <td>240207</td>      <td>97208</td>      <td>July 2007</td>      <td>1</td>      <td>0</td>    </tr>    <tr>      <th>6</th>      <td>Carr</td>      <td>Shasta, Trinity</td>      <td>229651</td>      <td>92936</td>      <td>July 2018</td>      <td>1604</td>      <td>8</td>    </tr>    <tr>      <th>7</th>      <td>Matilija</td>      <td>Ventura</td>      <td>220000</td>      <td>89030</td>      <td>September 1932</td>      <td>0</td>      <td>0</td>    </tr>    <tr>      <th>8</th>      <td>Witch</td>      <td>San Diego</td>      <td>197990</td>      <td>80120</td>      <td>October 2007</td>      <td>1650</td>      <td>2</td>    </tr>    <tr>      <th>9</th>      <td>Klamath Theater Complex</td>      <td>Siskiyou</td>      <td>192038</td>      <td>77715</td>      <td>June 2008</td>      <td>0</td>      <td>2</td>    </tr>    <tr>      <th>10</th>      <td>Marble Cone</td>      <td>Monterey</td>      <td>177866</td>      <td>71980</td>      <td>July 1977</td>      <td>0</td>      <td>0</td>    </tr>    <tr>      <th>11</th>      <td>Laguna</td>      <td>San Diego</td>      <td>175425</td>      <td>70992</td>      <td>September 1970</td>      <td>382</td>      <td>8</td>    </tr>    <tr>      <th>12</th>      <td>Basin Complex</td>      <td>Monterey</td>      <td>162818</td>      <td>65890</td>      <td>June 2008</td>      <td>58</td>      <td>0</td>    </tr>    <tr>      <th>13</th>      <td>Day</td>      <td>Ventura</td>      <td>162702</td>      <td>65843</td>      <td>September 2006</td>      <td>11</td>      <td>0</td>    </tr>    <tr>      <th>14</th>      <td>Station</td>      <td>Los Angeles</td>      <td>160557</td>      <td>64975</td>      <td>August 2009</td>      <td>209</td>      <td>2</td>    </tr>    <tr>      <th>15</th>      <td>Camp</td>      <td>Butte</td>      <td>153336</td>      <td>62053</td>      <td>November 2018</td>      <td>18804</td>      <td>86</td>    </tr>    <tr>      <th>16</th>      <td>Rough</td>      <td>Fresno</td>      <td>151623</td>      <td>61360</td>      <td>July 2015</td>      <td>4</td>      <td>0</td>    </tr>    <tr>      <th>17</th>      <td>McNally</td>      <td>Tulare</td>      <td>150696</td>      <td>60985</td>      <td>July 2002</td>      <td>17</td>      <td>0</td>    </tr>    <tr>      <th>18</th>      <td>Stanislaus Complex</td>      <td>Tuolumne</td>      <td>145980</td>      <td>59080</td>      <td>August 1987</td>      <td>28</td>      <td>1</td>    </tr>    <tr>      <th>19</th>      <td>Big Bar Complex</td>      <td>Trinity</td>      <td>140948</td>      <td>57040</td>      <td>August 1999</td>      <td>0</td>      <td>0</td>    </tr>  </tbody></table>'

In [30]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/CAWildfire_db')

In [31]:
engine.execute("DROP TABLE IF EXISTS largestfires;")

In [32]:
large_fire_df.to_sql('largestfires', engine)

In [33]:
engine.execute('ALTER TABLE largestfires ADD PRIMARY KEY (index);')